* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  border-bottom: #a81504 solid 0.1rem;
  height: 15vh;
  font-family: lazer84;
}

a {
  color: #f0e860 !important;
}

ul a:hover {
  border-bottom: solid 0.3rem #f0e860;
  transform: translate(0rem, -0.5rem);
  transition: 0.25s;
}

@font-face {
  font-family: lazer84;
  src: url(/font/Lazer84.ttf.ttf);
}
.btn-twitter {
  background-color: #55acee;
}

.btn-facebook {
  background-color: #3a5795;
}

.btn-e-mail {
  background-color: #c25e30;
}

.body-principal {
  background-image: url(../../images/fondo1.png);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.body-principal .cuerpo-principal {
  height: 75vh;
}
.body-principal .cuerpo-principal .subtitulo-principal {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, white, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imagen-principal {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

.body-musica {
  background-image: url(../../images/fondo-musica.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.body-musica h1 {
  color: white;
  text-align: center;
  font-family: lazer84;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
}

.tarjeta-musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 12px;
  font-size: small;
  color: white;
}
.tarjeta-musica h1 {
  font-size: 2rem;
}
.tarjeta-musica .imagen-musica {
  width: 300px;
}
.tarjeta-musica .descripcion-musica {
  margin: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.body-cine {
  background-image: url(../../images/cine1.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.body-cine h1 {
  color: white;
  text-align: center;
  font-family: lazer84;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 5rem;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo-principal {
  color: #f0e860;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}

.contenedor-cuerpo {
  display: flex;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
}
.contenedor-cuerpo .campo1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-cuerpo .campo2 h4 {
  margin: 2rem;
  text-decoration: overline;
}
.contenedor-cuerpo article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-cuerpo img {
  width: 350px;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.body-television {
  background-image: url(../../images/retro-television.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.body-television h1 {
  color: white;
  text-align: center;
  font-family: lazer84;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 5rem;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-television article {
  background: linear-gradient(to top, red, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

.cuerpo-television {
  height: 100%;
}

.articulo-cine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.articulo-cine img {
  width: auto;
  height: 150px;
}
.articulo-cine div {
  padding: 2rem;
  color: #f0e860;
}

.cuerpo-contacto {
  background-color: black;
  height: 80vh;
}
.cuerpo-contacto h1 {
  color: white;
  text-align: center;
  font-family: lazer84;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  width: 50%;
  margin: auto;
}

section {
  display: flex;
  justify-content: center;
  margin: 2rem;
  justify-content: space-around;
}
section button {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer {
  background-color: black;
  text-align: center;
  height: 10vh;
  border-top: 0.1rem solid #a81504;
  padding: 20px;
  font-family: lazer84;
}
.footer .titulo-footer {
  color: #f0e860;
}

/*# sourceMappingURL=main.css.map */
