* {
  margin: 0;
  padding: 0;
}

/* ENCABEZADO ---- ENCABEZADO ---- ENCABEZADO ---- ENCABEZADO ----  */

header {
  background-color: #460a40;
  color: #fffe01;
  height: 10vh;
}

.frase {
  text-align: center;
}

.barra {
  display: flex;
}

li {
  margin: auto;
}

ul li {
  list-style: none;
}

/* CUERPO ---- CUERPO ---- CUERPO ---- CUERPO ---- CUERPO ----  */

.cuerpo {
  background-color: #e83b36;
  height: 80vh;
}

.titulo-principal {
  color: #fffe01;
  text-align: center;
  text-decoration: underline;
}

.imagen-presentacion {
  max-width: 80%;
  max-height: 80%;
}

/* FOOTER ---- FOOTER ---- FOOTER ---- FOOTER ---- FOOTER ---- */

.footer {
  background-color: #ff8606;
  text-align: center;
  height: 10vh;
}

.titulo-footer {
  color: #fffe01;
}
