.cuerpo {
  background-color: black;
  height: 70vh;
}

.titulo-principal {
  color: #f0e860;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}

.imagen-presentacion {
  display: flex;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}
