.cuerpo {
  background-color: black;
  padding: 0% !important;
}

.titulo-principal {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, red, $color-letras);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imagen-presentacion {
  display: flex;
  margin: auto;
}
