.cuerpo {
  background-color: black;
  padding: 0% !important;
}

.titulo-principal {
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}

.imagen-presentacion {
  display: flex;
  margin: auto;
}
