.body-television {
  background-image: url(../../images/retro-television.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    color: white;
    text-align: center;
    font-family: lazer84;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    background: linear-gradient(to top, red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  article {
    background: linear-gradient(to top, red, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
  }
}

.cuerpo-television {
  height: 100%;
}

.articulo-cine {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: 150px;
  }
  div {
    padding: 2rem;
    @include color-letra(#f0e860);
  }
}
