.cuerpo-contacto {
  background-color: black;
  height: 75vh;

  h1 {
    color: white;
    text-align: center;
    font-family: lazer84;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    background: linear-gradient(to top, red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  width: 30%;
  margin: auto;
}

section {
  display: flex;
  justify-content: center;
  margin: 2rem;
  justify-content: space-around;
  button {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
