.cuerpo-nosotros {
  background-color: #21044b;
  background-image: url(../images/nosotros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  padding: 0px;
}

.parrafo-nosotros {
  color: white;
  text-align: center;
  padding: 20px;
}

.parrafo-nosotros2 {
  color: white;
  text-align: center;
  margin-top: 10%;
}

.cuerpo-nosotros h1 {
  padding: 10px;
  color: #f0e860;
}
