.cuerpo-contacto {
  background-color: black;
  height: 80vh;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  width: 30%;
  margin: auto;
}

section {
  display: flex;
  justify-content: center;
  margin: 2rem;
  justify-content: space-around;
  button {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
