/* PAGINA NOSOTROS - PAGINA NOSOTROS - PAGINA NOSOTROS */

.cuerpo-nosotros {
  background-color: #21044c;
  height: 100%;
  background-image: url(../images/nosotros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parrafo-nosotros {
  color: white;
  text-align: center;
  padding: 20px;
}

.parrafo-nosotros2 {
  color: white;
  text-align: center;
  margin-top: 10%;
}

.cuerpo-nosotros h1 {
  padding: 10px;
  color: #f0e860;
}
